* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: url(./background.jpg);
  height: 1000vh;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  letter-spacing: 5px;
  font-size: 5em;
  color: #68edff;
}

input {
  margin-left: 700px;
  height: 35px;
  width: auto;
  margin-top: 200px;
}
input:focus {
  box-shadow: 0 14px 28px rgba(92, 241, 229, 0.979);
}
.styleTrue {
  margin-top: 0;
  transition: all 0.4s ease-out;
}
.styleFalse {
}
button {
  height: 35px;
  width: 50px;
  color: white;
  border: black;
  font-weight: bolder;
  font-family: cursive;
  background-color: black;
  cursor: pointer;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  flex-basis: auto;
}
img {
  max-width: 100%;
}
@media screen and (max-width: 992px) {
  button {
    font-family: sans-serif;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    margin-left: 290px;
    height: 35px;
    width: auto;
    margin-top: 200px;
  }
  .item {
    flex-basis: 31%;
  }
  .list {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .App {
    background: url(mobile.jpg);
  }
  button {
    font-family: sans-serif;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    margin-left: 100px;
    height: 35px;
    width: auto;
    margin-top: 200px;
  }
  .item {
    flex-basis: 48%;
  }
  .list {
    justify-content: center;
  }
}
